@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int count = 25;
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="container">
    <h1>History</h1>

    <br />
    <br />

    <p><b>Here you can find the previous donations. The latest donations are listed first</b></p>

    <br />

    <table id="history"></table>

    <br />
    <br />
</div>

<script>
    window.onload = async function () {
        var allDonations = await getAllDonationsOfContract();
        allDonations = allDonations.reverse();
        var table = "<tr>";
        table += "<th>Project</th>";
        table += "<th>Amount (In Wei)</th>";
        table += "<th>Sender</th>";
        table += "<th>Date & Time</th>";
        table += "</tr>";

        for (var i = 0; i < allDonations.length; i++) {
            var current = allDonations[i];
            table += "<tr>";
            table += `<th>${current.projectName}</th>`;
            table += `<th>${current.amount}</th>`;
            table += `<th>${current.donator}</th>`;
            table += `<th>${new Date(current.date*1000).toUTCString()}</th>`;
            table += "</tr>";
        }

        document.getElementById('history').innerHTML = table;

    }
</script>

