@model DonationPlatform.Models.ProjectModel


@{
    int test = int.Parse(Url.RouteUrl(ViewContext.RouteData.Values).Split('/')[3]);
    ViewData["Title"] = "Current Projects";

}

<div class="container">
    <div class="row">
        <a href="/Project/" class="btn btn-primary">Back to projects</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 id="project-name" class="text-center">@Html.DisplayFor(model => model.Name)</h1>
        </div>

        <hr />

        <div class="col-md-6 jumbotron vcenter">
            <h3>Organisation</h3>
            <p id="organisation" class="card-text">@Html.DisplayFor(model => model.Name)</p>
            <br />
            <h3>Description</h3>
            <p id="project-description" class="card-text">@Html.DisplayFor(model => model.Description)</p>
            <br />
            <h3>Total Donated</h3>
            <p id="donation" class="card-text"></p>
            <br />
            <br />
            <br />

        </div>

        <div class="col-md-6 vcenter">
            <img src="" id="photo" style="width:inherit;border-radius: .3rem;" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                Amount to donate (in ETH) <input type="number" id="amountToDonate" value="1" />
                <button class="btn btn-primary" onclick="donateToProject(@test)">DONATE</button>

                <p id="message-for-donate"></p>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = async function () {
        loadDetailsPage(@test);
    };
</script>