@model DonationPlatform.Models.ProjectModel


@{
    int test = int.Parse(Url.RouteUrl(ViewContext.RouteData.Values).Split('/')[3]);
    ViewData["Title"] = "Current Projects";

}

    <div class="container-fluid">
        <h1 id="project-name" class="text-center">@Html.DisplayFor(model => model.Name)</h1>
        <div class="text-center">
            <img src="~/lib/dummy pic.png" style="height:250px" />
        </div>

        <hr />

        <div class="container">
            <h3>Description</h3>
            <p id="project-description" class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </div>

        <hr />

        <div class="container">
            <h3>Organisation</h3>
            <p id="organisation" class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </div>

        <hr />

        <div class="container">
            <h3>Total Donation (in Wei)</h3>
            <p id="donation" class="card-text"></p>
        </div>

        <hr />

        <div class="container">
            Amount to donate<input type="number" id="amountToDonate" value="1" />
            <button class="btn btn-primary" onclick="donateToProject(@test)">DONATE</button>
        </div>

        <div class="container">
            <p id="message-for-donate"></p>
            <a href="/Project/" class="btn btn-primary">Back</a>
        </div>

    </div>

<script>
    window.onload = async function () {
        loadDetailsPage(@test);
    };
</script>