@model DonationPlatform.Models.ProjectCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-6">
            <div>@Html.DisplayNameFor(model => model._projectAddress)</div>
            <input type="text" name="_projectAddress" id="_projectAddress" required>
            <div>@Html.DisplayNameFor(model => model._name)</div>
            <input type="text" name="_name" id="_name" required>
            <div>@Html.DisplayNameFor(model => model._description)</div>
            <textarea name="_description" id="_description" rows="4" cols="50" required></textarea>
            <br />
            <button onclick="makeDonateProject()">Create donation project</button>
    </div>
</div>

@*<script>
    function sendForm() {
        var x = document.forms["createProjectForm"]["_projectAddress"].value;
        var y = document.forms["createProjectForm"]["_name"].value;
        var z = document.forms["createProjectForm"]["_description"].value;
        if (x.trim() == "" || y.trim() == "" || z.trim() == "") {
            alert("Niet alle velden zijn ingevuld");
            return false;
        }
    }
</script>*@
