@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h2 class="display-3">Dochaintion</h2>
        <p>Dochaintion is a project made by students of the Hague University of Applied Science</p>
        <p>The project is about eliminating the Man in the Middle principle and let you donate your cryptocurrency straight to the project</p>
        <p>Why we use the crypto world is because crypto is available for everyone and a bank account is not needed for that</p>
    </div>
</div>

<div class="container text-center">
    <h2 class="text-center" style="padding-bottom: 20px;">Latest Projects</h2>
    <div class="row" id="latestThree"></div>
</div>

<div class="container text-center">
    <h2 class="text-center" style="padding-bottom: 20px;">Popular Projects</h2>
    <div class="row" id="famousThree"></div>
</div>

<script>
    window.onload = async function () {
        var contract = await getContract();
        var accounts = await web3.eth.getAccounts();

        let makeProjectCall = await contract.methods.getAllProjects()
            .call()
            .then(result => { return result })
            .catch(err => console.log(err));
        console.log(makeProjectCall);
        var latestThreeProject = [];
        var famousThreeProject = [];

        for (var i = 0; i < 3; i++) {
            latestThreeProject.push(makeProjectCall[makeProjectCall.length - i - 1]);
        }

        makeProjectCall.sort((a, b) => (a.totalDonation < b.totalDonation) ? 1 : -1);

        for (var j = 0; j < 3; j++) {
            famousThreeProject.push(makeProjectCall[j]);
        }

        let cardContainer;

        let createTaskCard = (latestThreeProject) => {

            let cardStyle = document.createElement('div');
            cardStyle.className = 'col-md-4';
            cardStyle.style = 'padding: 10px';

            let card = document.createElement('div');
            card.className = 'card';

            let cardheader = document.createElement('div');
            cardheader.className = 'card-header';
            cardheader.innerText = latestThreeProject.name;

            let img = document.createElement('img');
            img.src = `https://ipfs.io/ipfs/${latestThreeProject.photoCid}`;
            img.style = 'height:250px';

            let cardBody = document.createElement('div');
            cardBody.className = 'card-body';

            let title = document.createElement('h5');
            title.innerText = latestThreeProject.projectName;
            title.className = 'card-title';

            let meerInfo;
            
            if (latestThreeProject.isActive) {
                meerInfo = document.createElement('a');
                meerInfo.className = 'btn btn-primary';
                meerInfo.innerText = 'Read more';
                meerInfo.href = '/Project/Details/' + latestThreeProject.projectId;
            } else {
                meerInfo = document.createElement('h4')
                meerInfo.innerText = 'Finished';
                meerInfo.className = '';
                meerInfo.href = '/Project/Details/' + latestThreeProject.projectId;
                meerInfo.disabled = true;
            }
            

            card.appendChild(cardheader);
            card.appendChild(img);
            card.appendChild(cardBody);

            cardBody.appendChild(title);
            cardBody.appendChild(meerInfo);

            cardStyle.appendChild(card);

            cardContainer.appendChild(cardStyle);

        }
        let initListOfTasks = () => {
            if (cardContainer) {
                document.getElementById('latestThree').replaceWith(cardContainer);
                return;
            }
            cardContainer = document.getElementById('latestThree');
            latestThreeProject.forEach((task) => {
                createTaskCard(task);
            });

            cardContainer = document.getElementById('famousThree');
            famousThreeProject.forEach((task) => {
                createTaskCard(task);
            });

        };
        initListOfTasks();
    };
</script>