@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h2 class="display-3">Dochaintion</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac scelerisque nisi. Vivamus et sapien tempor, porta dui tempus, porta orci. Nullam id laoreet velit. Integer suscipit, turpis quis euismod consequat, odio ligula volutpat lacus, a dapibus quam orci a lorem. Cras semper neque neque, a placerat felis eleifend non. Ut a velit ac sem blandit cursus iaculis sit amet justo. Integer non sapien tortor. Sed ligula urna, accumsan maximus eros sit amet, porta accumsan quam. Mauris lorem tellus, elementum non felis quis, aliquam efficitur ex. Aliquam a libero efficitur, posuere justo id, fermentum tortor. Nullam consectetur augue ut nunc tempus, at imperdiet diam vulputate. Donec dictum est ut ipsum molestie cursus. Fusce sed nisi tellus.</p>
    </div>
</div>

<div class="container-fluid text-center">
    <h2 class="text-center" style="padding-bottom: 20px;">Latest Projects</h2>
    <div class="row" id="latestThree"></div>
</div>

<div class="container-fluid text-center">
    <h2 class="text-center" style="padding-bottom: 20px;">Populair Projects</h2>
    <div class="row" id="famousThree"></div>
</div>

<script>
    window.onload = async function () {
        var contract = await getContract();
        var accounts = await web3.eth.getAccounts();

        let makeProjectCall = await contract.methods.getAllProjects()
            .call()
            .then(result => { return result })
            .catch(err => console.log(err));

        var latestThreeProject = [];
        var famousThreeProject = [];

        for (var i = 0; i < 3; i++) {
            latestThreeProject.push(makeProjectCall[makeProjectCall.length - i - 1]);
        }

        makeProjectCall.sort((a, b) => (a.totalDonation < b.totalDonation) ? 1 : -1);

        for (var j = 0; j < 3; j++) {
            famousThreeProject.push(makeProjectCall[j]);
        }

        let cardContainer;

        let createTaskCard = (latestThreeProject) => {

            let cardStyle = document.createElement('div');
            cardStyle.className = 'col-md-4';
            cardStyle.style = 'padding: 10px';

            let card = document.createElement('div');
            card.className = 'card';

            let cardheader = document.createElement('div');
            cardheader.className = 'card-header';
            cardheader.innerText = latestThreeProject.name;

            let img = document.createElement('img');
            img.src = '/lib/dummy pic.png';
            img.style = 'height:250px';

            let cardBody = document.createElement('div');
            cardBody.className = 'card-body';

            let title = document.createElement('h5');
            title.innerText = latestThreeProject.projectAddress;
            title.className = 'card-title';

            let meerInfo = document.createElement('a');
            meerInfo.className = 'btn btn-primary';
            meerInfo.innerText = 'Meer info';
            meerInfo.href = '/Project/Details/' + latestThreeProject.projectId;

            card.appendChild(cardheader);
            card.appendChild(img);
            card.appendChild(cardBody);

            cardBody.appendChild(title);
            cardBody.appendChild(meerInfo);

            cardStyle.appendChild(card);

            cardContainer.appendChild(cardStyle);

        }
        let initListOfTasks = () => {
            if (cardContainer) {
                document.getElementById('latestThree').replaceWith(cardContainer);
                return;
            }
            cardContainer = document.getElementById('latestThree');
            latestThreeProject.forEach((task) => {
                createTaskCard(task);
            });

            cardContainer = document.getElementById('famousThree');
            famousThreeProject.forEach((task) => {
                createTaskCard(task);
            });

        };
        initListOfTasks();
    };
</script>